<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Other</h3>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="https://www.vultr.com">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="https://forms.gle/g8rUFre64cvhpYgHA">Demande d'activité</a></li>
                        <li><a href="#">Demande de partenariat</a></li>
                        <li><a routerLink="/admin/login">Dashboard</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Votre BDE</h3>
                    <p>40 Boulevard de la Marquette, 31000 Toulouse</p>
                    <p>Epitech Toulouse, 7eme Étage</p>
                    <p>Association de 1901, à but non lucratif</p>
                </div>
                <div class="col item social">
                    <a href="https://www.facebook.com/BDEEpitechToulouse"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a href="https://www.instagram.com/bde_epitech_toulouse/"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a href="https://github.com/MrBartou/Projet_site_association"><fa-icon [icon]="faGithub"></fa-icon></a>
                    <a href="mailto:bde-toulouse@epitech.eu"><fa-icon [icon]="faMailBulk"></fa-icon></a>
                </div>
            </div>
            <p class="copyright">BDE Epitech Toulouse © 2021</p>
        </div>
    </footer>
</div>