<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Other</h3>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="#">Demande d'activité</a></li>
                        <li><a href="#">Demande de partenariat</a></li>
                        <li><a href="#">Dashbord</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social">
                    <a href="https://www.facebook.com/BDEEpitechToulouse"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a href="https://www.instagram.com/bde_epitech_toulouse/"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a href="https://github.com/MrBartou/Projet_site_association"><fa-icon [icon]="faGithub"></fa-icon></a>
                    <a href="mailto:bde-toulouse@epitech.eu"><fa-icon [icon]="faMailBulk"></fa-icon></a>
                </div>
            </div>
            <p class="copyright">BDE Epitech Toulouse © 2021</p>
        </div>
    </footer>
</div>