h1 {
    text-align: center;
    color: white;
}

ngb-carousel {
    max-width: 90%;
    max-height: 50%;
    margin: auto;
    display: block;
    padding: 3%;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(63, 59, 59);
    color: white;
}

.card-body {
    text-align: center;
}

.card-title {
    background-color: rgb(105, 103, 103);
}

.picsum-img-wrapper {
    width: 500px;
    height: 600px;
}