<mat-toolbar>
    <div>
    <br>
        <a routerLink="/home"><img src="../../../assets/logo/houseofstudents.png" alt="LogoBDE" width="200" height="100"></a>
    </div>
    <div class="navigation">
        <ul class="navigation-items">
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
            <li>
                <a routerLink="/evenement">Évenement</a>
            </li>
            <li>
                <a routerLink="/partenariat">Partenariat</a>
            </li>
            <li>
                <a routerLink="/equipe">Équipe</a>
            </li>
        </ul>
    </div>
</mat-toolbar>