<body>
    <br><br>
    <div class="team-boxed">
        <div class="container">
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/equipe/anthony.png">
                        <h3 class="name">Anthony Denin</h3>
                        <p class="title">Président</p>
                        <p class="description">Étudiant en deuxieme année à Epitech Toulouse</p>
                        <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100012695527046"><fa-icon [icon]="faFacebook"></fa-icon></a><a href="https://www.instagram.com/anthonydn_31/"><fa-icon [icon]="faInstagram"></fa-icon></a><a href="https://www.linkedin.com/in/anthony-denin/"><fa-icon [icon]="faGithub"></fa-icon></a><a href="mailto:anthony.denin@epitech.eu"><fa-icon [icon]="faMailBulk"></fa-icon></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/equipe/leo.png">
                        <h3 class="name">Léo Bazot</h3>
                        <p class="title">Vice-Président</p>
                        <p class="description">Étudiant en deuxieme année à Epitech Toulouse</p>
                        <div class="col item social"><a href="https://www.facebook.com/leo.bazot"><fa-icon [icon]="faFacebook"></fa-icon></a><a href="https://www.instagram.com/leo.bazot/"><fa-icon [icon]="faInstagram"></fa-icon></a><a href="#"><fa-icon [icon]="faGithub"></fa-icon></a><a href="mailto:leo.bazot@epitech.eu"><fa-icon [icon]="faMailBulk"></fa-icon></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/equipe/maxime.png">
                        <h3 class="name">Maxime Gendreau</h3>
                        <p class="title">Trésorier</p>
                        <p class="description">Étudiant en Premiere année à Epitech Digital</p>
                        <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100008138684589"><fa-icon [icon]="faFacebook"></fa-icon></a><a href="https://www.instagram.com/maxime_gendreau24/"><fa-icon [icon]="faInstagram"></fa-icon></a><a href="https://www.linkedin.com/in/maxime-gendreau/"><fa-icon [icon]="faGithub"></fa-icon></a><a href="mailto:maxime.gendreau@epitech.digital"><fa-icon [icon]="faMailBulk"></fa-icon></a></div>
                    </div>
                </div>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/equipe/leo2.png">
                        <h3 class="name">Léo Maman</h3>
                        <p class="title">Responsable Partenariat</p>
                        <p class="description">Étudiant en Premiere année à Epitech Toulouse</p>
                        <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100009874035606"><fa-icon [icon]="faFacebook"></fa-icon></a><a href="https://www.instagram.com/leo_maman/"><fa-icon [icon]="faInstagram"></fa-icon></a><a href="https://www.linkedin.com/in/leo-maman-7293a8197/"><fa-icon [icon]="faGithub"></fa-icon></a><a href="mailto:leo.maman@epitech.eu"><fa-icon [icon]="faMailBulk"></fa-icon></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/equipe/cyril.png">
                        <h3 class="name">Cyril Dehease</h3>
                        <p class="title">Responsable Évènement</p>
                        <p class="description">Étudiant en deuxieme année à Epitech Toulouse</p>
                        <div class="col item social"><a href="https://www.facebook.com/cyril.dehaese"><fa-icon [icon]="faFacebook"></fa-icon></a><a href="https://www.instagram.com/cyrildehaese/"><fa-icon [icon]="faInstagram"></fa-icon></a><a href="https://www.linkedin.com/in/cyril-dehaese-66724a1a3/"><fa-icon [icon]="faGithub"></fa-icon></a><a href="mailto:cyril.dehease@epitech.eu"><fa-icon [icon]="faMailBulk"></fa-icon></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../../../assets/equipe/mady.png">
                        <h3 class="name">Madison Bordes</h3>
                        <p class="title">Responsable communication</p>
                        <p class="description">Étudiant en Premiere année à Epitech Digital</p>
                        <div class="col item social"><a href="https://www.facebook.com/mady.bordes.9"><fa-icon [icon]="faFacebook"></fa-icon></a><a href="https://www.instagram.com/mady_brds/"><fa-icon [icon]="faInstagram"></fa-icon></a><a href="https://www.linkedin.com/in/madison-bordes/"><fa-icon [icon]="faGithub"></fa-icon></a><a href="mailto:madison.bordes@epitech.digital"><fa-icon [icon]="faMailBulk"></fa-icon></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>