.card-body {
    position: relative;
}

.card-img-top {
    width: auto;
    height: 250px;
}

h2 {
    color: white;
}

.card-title {
    color: black;
}

hr.new1 {
    border-top: 3px solid white;
}