<body>
    <br><br>
  <div class="container">
      <h2>Nourriture</h2>
      <hr class="new1">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{{ this.partener[1].img_abs_path }}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ this.partener[1].title }}</h2>
            <p class="card-text">{{ this.partener[1].description }}</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{{ this.partener[2].img_abs_path }}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ this.partener[2].title }}</h2>
            <p class="card-text">{{ this.partener[2].description }}</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{{ this.partener[3].img_abs_path }}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ this.partener[3].title }}</h2>
            <p class="card-text">{{ this.partener[3].description }}</p>
          </div>
        </div>
      </div><br>
      <h2>Autre</h2>
      <hr class="new1">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logo_ornikar.png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Auto-École Ornikar</h2>
            <p class="card-text">Permis à .... et code à ....</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logo_v&b.png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">V&B Compans Caffarelli</h2>
            <p class="card-text">4 biere = 1 saucisson</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logo_lcl.png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">LCL Université Toulouse</h2>
            <p class="card-text">Flemme de tout mettre pour le moment</p>
          </div>
        </div>
      </div><br>
      <!-- <h2>High-tech</h2>
      <hr class="new1">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logoDonald.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Macdonald Compans Caffarelli</h2>
            <p class="card-text">Menu best Of à 5 euros sous présentation de la carte étudiants</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/Subway-Logo.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">SubWay Compans Caffarelli</h2>
            <p class="card-text">Menu SUB30 à 7 euros sous présentation de la carte étudiants</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logo_classcroute.png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Class Croute</h2>
            <p class="card-text">Remise de 12% sur toute la carte pause déjeuner ! Et menu Étudiant à 6,40</p>
          </div>
        </div>
      </div><br>
      <h2>Autres</h2>
      <hr class="new1">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logoDonald.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Macdonald Compans Caffarelli</h2>
            <p class="card-text">Menu best Of à 5 euros sous présentation de la carte étudiants</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/Subway-Logo.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">SubWay Compans Caffarelli</h2>
            <p class="card-text">Menu SUB30 à 7 euros sous présentation de la carte étudiants</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/partenariat/logo_classcroute.png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Class Croute</h2>
            <p class="card-text">Remise de 12% sur toute la carte pause déjeuner ! Et menu Étudiant à 6,40</p>
          </div>
        </div>
      </div><br> -->
  </div>
</body>