<body>
<br><br>
<div class="text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>
</div>
<br><br>
<div>
    <h1 class="text-date">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
</div>

<mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
</mwl-calendar-month-view>

<ng-template #modalContent let-close="close">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h5 class="modal-title">S'inscrire</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="form">
            <ng-template matStepLabel>Information personnel</ng-template>
            <mat-form-field>
              <mat-label>Prénom</mat-label>
              <input matInput placeholder="Prénom" formControlName="fst_name" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput placeholder="Name" formControlName="snd_name" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="E-mail" formControlName="mail" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Numéro de télephone</mat-label>
              <input matInput placeholder="Numéro de télephone" formControlName="phone" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Information école">
          <form [formGroup]="form">
            <mat-form-field>
              <mat-label>Ecole</mat-label>
              <input matInput formControlName="school" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Promotion</mat-label>
              <input matInput formControlName="promo" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Paiement">
          <form [formGroup]="form">
            <h3>Prix : 15€</h3>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="PJM2WY8H648ZK">
            <input type="hidden" name="item_name" value="Digital good 2">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="item_number" value="internal_user_and_product_id">
            <input type="hidden" name="notify_url" value="https://mywebsite.com/paypal-ipn.php">
            <input type="image" src="http://www.paypal.com/fr_FR/i/btn/x-click-but01.gif" border="0" name="submit">
            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynow_LG.gif" border="0" name="submit">
            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1"><br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>Vos informations ont bien été prisent en compte.</p>
          <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </form>
  </ng-template>
<br><br>
</body>